<!-- error.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
            color: #333;
        }
        
        .error-container {
            text-align: center;
        }
        
        h1 {
            font-size: 6em;
            margin-bottom: 20px;
        }
        
        p {
            font-size: 1.5em;
        }
    </style>
</head>
<body>
    <div class="error-container">
        <h1>404</h1>
        <p>Oops! Server Errorrr...........</p>
    </div>
</body>
</html>
